@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "../styles/theme/theme.scss";

/* Montserrat font setting */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

/* Custom btn-primary */
.btn-primary {
  color: white;
  font-weight: 600;
}

.btn-primary:hover {
  color: white;
}

.btn-primary:focus {
  box-shadow: none;
  color: white;
}

/* Disable predefined btn click effect */
.btn:focus {
  box-shadow: transparent;
}

.btn:active {
  box-shadow: transparent;
}

.btn:hover {
  border-color: transparent;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 7px;
}

.btn-cancel {
  text-decoration: none;
}
.btn-cancel:hover {
  text-decoration: underline #f08181;
}
.dashed-border {
  border: 1px dashed #82cf98;
}
.dashed-border-upload {
  border: 1px dashed #6fa5fb;
}

.upload-bg {
  background-color: #fcfdff;
}

::-webkit-scrollbar-thumb {
  background: #6d6d6d;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #dcdcdc;
  border-radius: 50px;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

label {
  font-weight: 700;
  padding: 10px 0px;
}

.new-case-btn {
  color: black;
  font-weight: 200;
  font-size:12px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
